target
*.ids
*.iml
*.ids
*.ipr
*.iws
.classpath
.idea
*.tld
*plugin.xml
stacktrace.log
out/
web-app/WEB-INF/lib/
web-app/WEB-INF/web.xml
.project
.settings
*.iws
out/
web-app/WEB-INF/lib/
web-app/WEB-INF/web.xml
web-app/logs/
grails-app/conf/LocalConfig.groovy
.slcache/
test/
wrapper/
grailsw
grailsw.bat
