* {
    margin: 0;
    padding: 0;
}

/*------------ Login Page ---------------*/
html, body {
    height: 100%;
}
body {
    text-align: center;
}
.container {
    margin: auto;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    width: 80%;
    height: 50%;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 7em;
    margin-bottom: 20px;
    text-align: center;
    color: #222;
    font-weight: 300;
}
h1 span.fa {
    color: #333;
}

.button {
    text-decoration: none;
    outline: none;
    text-align: center;
    display: inline-block;
}
.button.google-login {
    width: 80px;
    color: #fff;
    font-size: 2em;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    line-height: 2.7em;
    height: 80px;
    transition: all 0.3s;
    border-radius: 50%;
    background-color: #d53212;
}
.button.google-login:hover {
    background-color: #bb1f00;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/*Media Queries*/
@media only screen and (max-width: 767px) {
    .container {width: 100%;}
    h1 { font-size: 4.8em;}
}
@media only screen and (max-width: 450px) {
    .container {width: 100%;}
    h1 { font-size: 3em;}
}